---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div style="margin: 30px 0; text-align: center;">
  <a href="https://twitter.com/chrisloftus" class="twitter-follow-button">Follow @chrisloftus</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%; padding-bottom: 30px;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//missily.us9.list-manage.com/subscribe/post?u=dcf09c7c62783a2f5808942ff&amp;id=8ac0270086" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to my mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dcf09c7c62783a2f5808942ff_8ac0270086" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

<p style="text-align: center;">
  I'm building a tool for freelance types. Do you use Toggl to track your time?
  TimeNotify will automatically send your clients reports of what tasks you
  completed and how long they took. Send them daily, weekly or monthly and keep
  your clients always in the loop.
  <a href="https://www.timenotify.co/signup?p=plus" style="font-weight: bold;">
    Use the code BLOG10 to get 10% off for life!
  </a>
</p>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="comments">
  {% include disqus.html %}
</div>
